:root{
  --pink: rgb(235, 107, 192); 
  --purple: rgb(43, 6, 43);
  --blue: rgb(22, 91, 112) ;
}
header{
  padding: 20px 35px;
  background-color: var(--purple);
  justify-content: space-between;
  flex-wrap: wrap;
  /*position: -webkit-sticky;
  position: sticky;
  top:0 ;*/
}
header h1{
  color:var(--pink);
  font-weight: bold;
  font-size: 36px;
  margin: 0;
}
header nav{
  display: flex;
  margin: 8px 0px;
}
header nav ul{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}
header nav ul li a{
  color: var(--blue);
  padding: 10px 15px;
  font-weight: lighter;
  text-shadow: 0 0 10px rgba(0,0,0,0.5);
}
header nav ul li a:hover{
  color:var(--pink);
  padding: 10px 15px;
  font-weight: lighter;
  text-shadow: none;
}
.hero{
  margin: inherit;
  padding: 30px;
  background-image: url("../images/hero-pattern.png");
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  background-attachment: fixed;
  background-position: 80%;
}
.about{
  background-color:var(--blue);
  display: flex;
  flex-wrap: wrap;
  
}
.primary-border{
  border-color: black;
}
.profile-img{
  height: 15px;
  width: 10px;
  border-top: black;
  width: 100%;
  flex:1 30%;
}
.flex-row{
  display: flex;
}
.project{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  flex: 1;
}
.profile-text{
  text-align: left;
  line-height: 1.5;
  color: black;
  width: 90%;
  display: inline-block; /*fixes offset nature of onlny 90% width*/
  font-size: 22px;
  margin: 0 auto;
}
