:root{
  --primary: rgb(66, 42, 59); 
  --secondary: rgb(199, 103, 199);
  --tertiary: rgb(97, 124, 133) ;
  --statement: rgb(29, 28, 28);
}
* {
  margin: 0;
  padding: 0;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: Arial, Helvetica, sans-serif;
}
/*header + nav bar*/
header{
  padding: 20px 35px;
  background-color: var(--secondary);
  justify-content: space-between;
  flex-wrap: wrap;
  /*position: -webkit-sticky;
  position: sticky;
  top:0 ;*/
}
header h1{
  color:var(--primary);
  font-weight: bold;
  font-size: 36px;
  margin: 0;
}
header nav{
  display: flex;
  margin: 10px 0px;
  flex-direction: row-reverse;
}
.navbar-container{
  align-items: flex-end;
}
.navbar-container ul{
/*display: flex;*/
  flex-wrap: wrap;
  align-items: center;
  list-style: none;
  display: block;
  list-style-type: disc;
}
.navbar-container ul li{
  display: inline-block;
  list-style-type: none;
  font-size: 14px;
  margin: 0px;
  padding: 4px;
  display: inline-block;
}
.navbar-container ul li a{
  color: var(--primary);
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  text-shadow: var(--statement);
}
.navbar-container ul li a:hover{
  color: var(--pink);
  padding: 10px 15px;
  font-weight: lighter;
  text-shadow: none;
}
/*hero*/
.hero{
  margin: inherit;
  padding: 50px;
  background-image: url("../images/hero-pattern.png");
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  background-attachment: fixed;
  background-position: 80%;
}
/*about me section*/
.about{
  border-radius: 15px;
  background-color:var(--tertiary);
  display: block;
  border: 10px solid var(--statement);
  margin: 5px;
}
.profile-text{
  text-align: left;
  line-height: 1.5;
  color: black;
  width: 90%;
  display: inline-block; /*fixes offset nature of onlny 90% width*/
  font-size: 22px;
  margin: 0 auto;
}
.profile-img{
  display: flex;
  height: 150px;
  width: 100px;
  flex:1 30%;
}
.profile-img img{
  border: 8px solid var(--statement);
  border-radius: 15px;
  margin: 5px;
}
.profile-img img:hover{
  border: 8px solid var(--statement);
  border-radius: 15px;
  margin: 5px;
}
/*section title class and its div  container*/
.flex-row{
  display: flex;
}
.section-title{
  font-style: oblique;
  font-size: 50px;
  text-shadow: rgba(0 0 0 0.5);
  color: var(--secondary);
  border-bottom: 2px solid var(--primary);
  text-align: center;
  padding-bottom: 15px;
  margin: 0 auto 25px auto ;
}
u{
  text-decoration: underline;
}
.text-container{
  border: none;
}
.primary-border{
  border-color: black;
}
.projects{
  border-radius: 15px;
  border: 8px solid var(--statement);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  background:var(--tertiary);
  margin: 5px;
  padding: 0 4px;
}
.project{
  flex: 60%;
  max-width: 25%;
  padding: 0 4px;
  /*maybeeee add this grid arrangment:
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  grid-auto-rows: 100px;*/
}
.project img{
  /*align-items: flex-start;
  flex: 1 12%;
  margin-right: 20px;
  width: 100%; /*best practice to set in a div and set width to 100%*/
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}
/*contact section*/
.contact{
  padding-bottom: 100px;
  align-content: center;
}
.contact-info{
  border: 8px solid var(--statement);
  border-radius: 15px;
  margin: 5px;
  background: var(--tertiary);
  display: flex;
  justify-content: center;
  margin:5% ;
  flex: 1;
  height: 120px;
  width: 90%;
}
footer{
  background: var(--secondary);
  display: flex;
  flex-wrap: wrap;
  padding: 40px;
}
footer a{
  text-align: center;
  color: var(--orange);
  font-style:oblique;
  font-weight: bold;
  text-decoration: none;
  font-size: 24px;
  padding: solid 12 px var(--secondary);
}
@media screen and (max-width: 800px) {
  .project {
    flex: 50%;
    max-width: 50%;
  }
}
@media screen and (max-width: 600px) {
  .project {
    flex: 100%;
    max-width: 100%;
  }
}
