:root{
  --pink: rgb(231, 31, 164); 
  --purple: rgb(177, 22, 177);
  --blue: rgb(111, 212, 243) ;
}
header{
  padding: 20px 35px;
  background-color: var(--purple);
  justify-content: space-between;
  flex-wrap: wrap;
  position: -webkit-sticky;
  position: sticky;
  top:0 ;
}
header h1{
  color: black;
  font-weight: bold;
  font-size: 36px;
  margin: 0;
}
header nav{
  display: flex;
  margin: 8px 0px;
}
header nav ul{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}
header nav ul li a{
  color:red;
  padding: 10px 15px;
  font-weight: lighter;
  text-shadow: 0 0 10px rgba(0,0,0,0.5);
}
header nav ul li a:hover{
  color: pink;
  padding: 10px 15px;
  font-weight: lighter;
  text-shadow: none;
}